<h2>My cars</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Brand</th>
      <th scope="col">Registration</th>
      <th scope="col">Country</th>
      <th scope="col">Created at</th>
      <th scope="col">Last updated</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let car of cars">

      <td>{{ car.id }}</td>
      <a routerLink="/detail/{{car.id}}">
        <td>{{ car.brand }}</td>
      </a>
      <td>{{ car.registration }}</td>
      <td>{{ car.country }}</td>
      <td>{{ car.created_at }}</td>
      <td>{{ car.last_updated }}</td>

    </tr>

  </tbody>
</table>




<!-- <h2>{{car.brand}} Details</h2>
<div><span>id: </span>{{car.id}}</div>
<div><span>brand: </span>{{car.brand}}</div>
<div><span>registration: </span>{{car.registration}}</div>
<div><span>car: </span>{{car.car}}</div>
<div><span>created_at: </span>{{car.created_at}}</div>
<div><span>last_updated: </span>{{car.last_updated}}</div>

<div>
  <label>brand:
    <input [(ngModel)]="car.brand" placeholder="brand"/>
  </label>
</div> -->